.vs

bin
obj


src/libs/SoloX.GeneratorTools.Core.CSharp/SoloX.GeneratorTools.Core.CSharp.xml
src/libs/SoloX.GeneratorTools.Core/SoloX.GeneratorTools.Core.xml
src/tests/SoloX.GeneratorTools.Core.CSharp.Sample1/SoloX.GeneratorTools.Core.CSharp.Sample1.xml
src/tests/SoloX.GeneratorTools.Core.CSharp.Sample2/SoloX.GeneratorTools.Core.CSharp.Sample2.xml
src/tests/SoloX.GeneratorTools.Core.CSharp.UTest/SoloX.GeneratorTools.Core.CSharp.UTest.xml
src/tests/SoloX.GeneratorTools.Core.CSharp.ITest/SoloX.GeneratorTools.Core.CSharp.ITest.xml
src/examples/SoloX.GeneratorTools.Core.CSharp.Examples/SoloX.GeneratorTools.Core.CSharp.Examples.xml